// Custom components
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Index banner and banner content
.banner {
  box-sizing: border-box;
  width: 100%;
  background: $primary-color;
  color: white;
  padding: 125px 0;
  opacity: 1;
  @include transition(opacity .6s ease-in);
  margin-bottom: 60px;
}
@include media(">tablet") {
  .banner {
    margin-bottom: 80px;
  }
  .has-docked-nav .banner{
    opacity: 0.4;
  }
}

.squirrel,
.arrow {
  margin-bottom: 30px;
  width: 100%;
  display: block;
  text-align: center;
}
.squirrel + h2 {
  margin-bottom: 90px;
}
.arrow {
  font-size: 28px;
  font-weight: bolder;
}

// Articles
article {
  padding: 0 $container-padding;
}
@include media(">tablet") {
  article {
    padding: 0;
  }
}

// Give header shadow, hidden until docked
.container.header:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 20px;
  z-index: -1;
  border-radius: 80%;
  box-shadow: 0 10px 15px -8px rgba(20,20,20,0);
}
.has-docked-nav .container.header:after {
  background-color: rgba(20, 20, 20, 0);
  box-shadow: 0 10px 15px -8px rgba(20,20,20,0.15)
}
