// Mobile first navbar
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Canvas wraps all content other than nav trigger
.canvas {
  @extend .u-full-width;
  min-height: 100%;
  background-color: white;
  @include position(relative, 0 0 100% 0);
  z-index: 1;
}

// transition canvas and nav trigger
.nav-trigger + label,
.canvas,
.navbar {
  @include transition( left 0.2s );
}

// offset canvas and trigger when checked (mobile only to be safe)
@include media("<=tablet") {
  .nav-trigger:checked + label {
    left: $nav-width + 25px;
  }
  .nav-trigger:checked ~ .canvas {
    left: $nav-width;
  }
  .nav-trigger ~ .canvas .navbar {
    left: -$nav-width;
  }
  .nav-trigger:checked ~ .canvas .navbar {
    left: 0;
  }
}

// Style the nav trigger
label[for="nav-trigger"] {
  @include position(fixed, 25px null null 25px);
  z-index: 2;
  height: $nav-height - 50px;
  width: $nav-height - 50px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' fill='#{ $secondary-color }' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}
// Hide trigger on desktop
@include media(">tablet") {
  label[for="nav-trigger"] {
    display: none;
  }
}

// Style the navbar and title
main.main {
  padding-top: $nav-height;
}
// Header position
header.header {
  @include position(fixed, 0 null null null);
  background: white;
  width: 100%;
  z-index: 1;
}
header.header h1.title {
  line-height: $nav-height;
}
.navbar {
  @include position(fixed, 0 null 0 0);
  width: $nav-width - 1px;
  z-index: 0;
  border-right: 1px solid $border-color;
  .navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: block;
      width: $nav-width - 1px;
    }
    li a {
      display: block;
      padding: 0;
      height: $nav-height;
      line-height: $nav-height;
      border-bottom: 1px solid $border-color;
      @include transition( background-color .2s, color .2s );
      &:hover,
      &:active {
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: white;
      }
    }
  }
}

// Put navbar back to normal on desktop
@include media(">tablet") {
  header.header {
    @include position(fixed, 0 null null 50%);
    @include transform(translateX(-50%));
    height: $title-height-desktop + $nav-height-desktop;
    background: white;
    z-index: 1;
  }
  main.main {
    padding-top: $title-height-desktop + $nav-height-desktop;
    z-index: 0;
  }
  header.header h1.title {
    border-bottom: 1px solid $border-color;
    line-height: $title-height-desktop - 1px;
  }
  .nav-trigger ~ .canvas .navbar {
    left: 0;
  }
  .navbar {
    background: white;
    @include position(fixed, $title-height-desktop inherit inherit 0);
    width: 100%;
    border: 0;
    .navbar-list {
      display: table;
      max-width: 500px;
      margin: 0 auto;
      li {
        display: table-cell;
      }
      li a {
        font-size: 11px;
        height: $nav-height-desktop;
        line-height: $nav-height-desktop;
        border: 0;
      }
    }
  }
  // Resize navbar, title on scroll
  // .container.
  header.header {
    @include transition( height, 0.2s );
  }
  header.header h1.title {
    @include transition( line-height, 0.2s );
  }
  .navbar {
    @include transition( top, 0.2s );
  }
  .navbar-list li a {
    @include transition( all, 0.2s );
  }
  .has-docked-nav {
    .container.header {
      height: $title-height-scroll + $nav-height-scroll;
    }
    header.header h1.title {
      line-height: $title-height-scroll - 1px;
    }
    .navbar {
      top: $title-height-scroll;
    }
    .navbar-list li a {
      height: $nav-height-scroll;
      line-height: $nav-height-scroll;
    }
  }
}
