// Nav typography
//––––––––––––––––––––––––––––––––––––––––––––––––––
.navbar-list a,
.site-header h1.title {
  line-height: $nav-height;
  font-size: $nav-font-size;
  letter-spacing: 4px;
  text-align: center;
  color: $dark-grey;
}
.navbar-list a {
  text-transform: uppercase;
  text-decoration: none;
}
.site-header h1.title {
  text-transform: lowercase;
}
