footer(role="aside")
  .container
    .row
      .six.columns
        .social
          a.icon(id="linkedin", href="https://au.linkedin.com/in/amytcleary")
          a.icon(id="twitter", href="https://twitter.com/amysqurrl")
          a.icon(id="facebook", href="https://www.facebook.com/AmyClearyDesign")
          a.icon(id="behance", href="https://www.behance.net/amycleary")
      .six.columns
        p.attribution
          &copy; Amy Cleary 2016 &#124;
          a(href="mailto:amyclearydesign@gmail.com") Contact
script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js")
script(src="/main.js")
