doctype html
html(lang="en")
  head
    != partial("_partials/meta")
  body(class="#{ 'route-' + current.path.join(' route-') }")
    input.nav-trigger.psuedo-hidden(type="checkbox", id="nav-trigger")
    label(for="nav-trigger")
    .canvas
      header(role="banner").container.header
        != partial("_partials/header")
        != partial("_partials/navbar")
      main(role="main").container.main
        article
          != partial("_partials/banner")
          != yield
      footer(role="aside").container.footer
        != partial("_partials/footer")
    != partial("_partials/photoswipe")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    link(rel="stylesheet" href="vendor/photoswipe/photoswipe.css")
    link(rel="stylesheet" href="vendor/photoswipe/default-skin/default-skin.css")
    script(src="vendor/photoswipe/photoswipe.min.js")
    script(src="vendor/photoswipe/photoswipe-ui-default.min.js")
    script(src="main.js")
