doctype html
html(lang="en")
  head
    != partial("_meta")
  body
    .container
      != partial("_header")
      != partial("_navbar")
      main(role="main")
        != yield
      != partial("_footer")
