section
  h2 BUY ENERGY BETTER, TOGETHER
  p “We are following a research principle aimed at discovery, not simply addressing unknowns within our current approach. We want to build the right thing , not just build the thing right. Our general goal is to better understand how like-household collaboration could add value to the way a household makes decisions on property related product and services.” - research proposal
  h2 USER RESEARCH INTERVIEWS
  p Grouply is an energy comparison website, launched in 2015 by 4th Party. In November 2015, I undertook user research to discover insights and user behaviour around an aspect of the product they wanted to develop. The purpose of this research was to establish whether there was a need and the economic viability for this product. After meeting with the clients, I developed a user research plan which included the goals and questions for the interviews.
  img(src="/content/Grouply-1_940px.png", alt="user research plan")
  h2 PERSONAS
  p After interviewing 12 participants, I conducted an affinity mapping workshop with the clients to process and discuss the data collected. The insights and conclusions from this process was then used to create two personas that reflected two primary users of the potential Grouply product. These personas were delivered with a user research report to the client for their reference, as well as to send on to potential investors and provider partners.
  img(src="/content/Grouply-2_940px.png", alt="affinity mapping")
  img(src="/content/Grouply-3_940px.png", alt="persona")
