
.index-banner
  .squirrel
    img(src="img/white-squirrel.png", alt="")
  h2 UI/UX Visual Designer
  .arrow &darr;

br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
