section
  p I’m a design thinker. I solve problems and design beautiful experiences, while balancing user needs with business objectives. I create products that are useful. I workshop ideas, collaborate with clients and teams, and tell stories with well executed documentation. My interdisciplinary practice is built on a strong foundation in visual design and creative arts.
  h4
    a(href="mailto:amyclearydesign@gmail.com") get in touch
footer
  h3 USER EXPERIENCE
  .row.row-wrap(data-cols="3")
    
    .four.columns
      a(href="uxprocess.html")
        img(src="content/uxprocess-thumb.png")
      h5.text-center UX PROCESS
    
    .four.columns
      a(href="seeva.html")
        img(src="content/seeva-thumb.png")
      h5.text-center SEEVA
    
    .four.columns
      a(href="stratachat.html")
        img(src="content/stratachat-thumb.png")
      h5.text-center STRATA.CHAT
    
    .four.columns
      a(href="grouply.html")
        img(src="content/grouply-thumb.png")
      h5.text-center GROUPLY
    
    .four.columns
      a(href="paperlust.html")
        img(src="content/paperlust-thumb.png")
      h5.text-center PAPERLUST
  <br><br>
  h3 VISUAL DESIGN
  .row.row-wrap(data-cols="3")
  
    .four.columns
      a(href="identity.html")
        img(src="content/identity-thumb.png")
      h5.text-center IDENTITY

    .four.columns
      a(href="print.html")
        img(src="content/print-thumb.png")
      h5.text-center PRINT
        
    .four.columns
      a(href="promotional.html")
        img(src="content/promotional-thumb.png")
      h5.text-center PROMOTIONAL
