
.banner
  .squirrel
    img(src="img/white-squirrel.png", alt="")
  h2 UI/UX Visual Designer
  .arrow &darr;

article
  section
    :markdown
      I’m a design thinker. I solve problems and design beautiful experiences, while balancing user needs with business objectives. I create products that are useful. I workshop ideas, collaborate with clients and teams, and tell stories with well executed documentation. Add this to a strong background in visual design and creative arts, and you have yourself a very useful _interdisciplinary_ UXer.
    h4
      a(href="mailto:amyclearydesign@gmail.com") get in touch
  footer
    h3 Work
    .row
      .four.columns
        a(href="#")
          img(src="/content/UX-thumb.png", alt="UX")
        h5.text-center UX
      .four.columns
        a(href="#")
          img(src="/content/UI-thumb.png", alt="UI")
        h5.text-center UI
      .four.columns
        a(href="#")
          img(src="/content/IDENTITY-thumb.png", alt="Identity")
        h5.text-center Identity
    .row
      .four.columns
        a(href="#")
          img(src="/content/Print-thumb.png", alt="Print")
        h5.text-center Print
      .four.columns
        a(href="#")
          img(src="/content/PROMO-thumb.png", alt="Promotional")
        h5.text-center Promotional
      .four.columns
        a(href="#")
          img(src="/content/LOGOS-thumb.png", alt="Logos")
        h5.text-center Logos
