section
  :markdown
    I’m a design thinker. I solve problems and design beautiful experiences, while balancing user needs with business objectives. I create products that are useful. I workshop ideas, collaborate with clients and teams, and tell stories with well executed documentation. All of this is built on a strong foundation in visual design and creative arts.
  h4
    a(href="mailto:amyclearydesign@gmail.com") get in touch
footer
  h3#work Work

  .row.row-wrap(data-cols="3")
    for title, id in public._data.pages.work
      .four.columns
        a(href="work/#{ id }")
          img(src="/content/#{ id }-thumb.png", alt="#{ title }")
        h5.text-center #{ title }
