section
  h2 ONE STOP WEDDING INVITATION SHOP
  p 
    | Paperlust is an online designer marketplace for quality print products 
    |(wedding invitations etc), which launched in November 2015. I joined the 
    |Paperlust team during the alpha stage, in a mixed role as UI/UX designer, 
    |print designer and co-manager of a growing community of contributors.
  p
    | Paperlust has two user groups - customers, and designers (contributors). 
    |I designed a number of web pages for the beta stage. In the first project, 
    |the aim was to resolve content hierarchy issues and improve presentation 
    |of products on the eCommerce side of the website. In the second project, 
    |I designed a series of pages to provide information for the “designer 
    |challenges” (for contributors to use), and showcase work in a gallery for 
    |contributors and customers to vote on their favourite designs.
  p 
    |The success of Paperlust relies on contributions from designers, who get 
    |paid a commission with every sale of their work, so it was important to 
    |capture interest and provide an easy way for them to submit work. 
    |Specialising in interaction design, I mapped out a series of user flows, 
    |to help with the planning and design of a prototype. After testing the 
    |prototype with business stakeholders and users, I then applied visual 
    |design based on the company’s brand identity.
section
  img(src="/content/Paperlust-1_940px.png", alt="paperlust product page")
  p Product Page visual design ("Rosehip" invitation design also by me)
  img(src="/content/Paperlust-2_940px.png", alt="paperlust challenge submission lightbox")
  p Challenge Submission Lightbox visual design
  img(src="/content/Paperlust-3_940px.png", alt="paperlust challenge page wireframe")
  p Challenge Page high fidelity wireframe
  img(src="/content/Paperlust-4_940px.png", alt="paperlust voting gallery wireframe")
  p Voting Gallery low fidelity wireframe
  section
    p DESIGN CREDIT | original Paperlust branding by 
      a(href="http://krafthaus.co/") krafthaus.co
    p VISIT | 
      a(href="http://paperlust.co") paperlust.co
