section
  p 
    | Following is a small selection of visual design work I’ve completed over 
    | the years. For more information and to see more examples of this work, 
    | head over to my #[a(href="http://www.behance.net/amycleary", target="_blank") behance portfolio].
section
  h2 PUBLICATION
  img(src="/content/Print-1_940px.png", alt="via magazine pages")
  p.caption VIA Magazine 4-page spread, 2009
section
  h2 WEDDING INVITATIONS
  img(src="/content/Print-2_940px.png", alt="rosehip invitations")
  p.caption 
    | Rosehip, 2015 - available for sale and customisation #[a(href="https://paperlust.co/cascade-design/104/save-the-date--digital-cards--rosehip-save-the-date/", target="_blank") here]
  img(src="/content/Print-3_940px.png", alt="beverly hotel invitations")
  p.caption 
    | Beverly Hills Hotel, 2017 - available for sale and customisation #[a(href="https://paperlust.co/cascade-design/2823/save-the-date--real-foil--beverly-hills-hotel-save-the-date/", target="_blank") here]
  img(src="/content/Print-4_940px.png", alt="native flower invitations")
  p.caption Australian Native Flowers, 2017
section
  h2 POSTERS & FLYERS
  img(src="/content/Print-5_940px.png", alt="eyeris event poster")
  p.caption Eyeris event poster, Hanoi 2014
  img(src="/content/Print-6_940px.png", alt="moontanning party poster")
  p.caption Moontanning Party event poster, Melbourne 2015
  img(src="/content/Print-7_940px.png", alt="fundraiser event flyer")
  p.caption Fundraiser event flyer, Hanoi 2014


  
