section
  h2 PUBLICATION
  img(src="/content/Print-1_940px.png", alt="via magazine pages")
section
  h2 WEDDING INVITATIONS
  img(src="/content/Print-2_940px.png", alt="rosehip invitations")
  img(src="/content/Print-3_940px.png", alt="beverly hotel invitations")
  img(src="/content/Print-4_940px.png", alt="native flower invitations")
section
  h2 POSTERS & FLYERS
  img(src="/content/Print-5_940px.png", alt="eyeris event poster")
  img(src="/content/Print-6_940px.png", alt="moontanning party poster")
  img(src="/content/Print-7_940px.png", alt="fundraiser event flyer")


  
