section
  p 
    | Based in Melbourne, Australia, I have built my career on top of a strong
    | foundation in visual art. After completing further study in communication
    | design and small business management, I started my own design business,
    | working with a wide range of small businesses and independent clients. I
    | have also worked with digital agencies, corporate clients, and online
    | start-ups.
  p
    | I am a nerdy upskiller. Over the years I’ve never stopped learning. My
    | toolbox has grown to include some front end development skills, service
    | design, digital design, and teaching.
  p
    | I once delivered a workshop on making fairy flower-crowns at a
    | six-year-old kid’s birthday party in costume when I lived in Hanoi. 
    | I will go above and beyond to deliver creative services and unique
    | customer experiences
  p
    | #[a(href="mailto:amyclearydesign@gmail.com") email me] if you want to see
    | my CV or have a chat about opportunities.
  :markdown
    FIND ME, FOLLOW ME  
    [Instagram]() |
    [Pinterest]() |
    [Tumblr]() |
    [Society6]()
section    
  img(src="/content/profile-1.png", alt="little girl with a flowercrown")
  p This website was designed and built in collaboration with Tim Kinnane 👊 
