section
  h2 CASE STUDY | QUEST FESTIVAL
  p 
    | Quest Festival is a small emerging camping festival located in Ba Vi 
    | National Park, just outside Hanoi, Vietnam. Music, art and culture come 
    | together over three days, providing festival goers with bands and 
    | electronic acts, creative workshops, themed campsites and lots of outdoor 
    | activities (it’s set in an adventure camp!).
  p 
    | I became involved with the art direction of the promotional and branding 
    | campaigns for the second and third events (Nov 2014, Mystery Quest 2015). 
    | I collaborated with artist Max Cooper to develop a visual language that 
    | completely captured our impression and experience of the festival. This 
    | project was developed during my time living in Hanoi.
  p 
    | Since its first appearance in 2013, Quest Festival has grown rapidly into 
    | one of South-East Asia’s most popular arts and lifestyle festival 
    | weekends. I was tasked with producing a media kit aimed at attracting new 
    | and bigger sponsors to partnership with Quest. After the Mystery Quest 
    | festival, the founders formed a new production company, Venture North 
    | Productions, to manage Quest and branch out into other events around 
    | Hanoi and the region.
  p 
    | The media kit was designed as a continuous scrolling PDF document that 
    | views like a website. An A4 printed version was also created. Along with 
    | the launch of the media kit, I designed a teaser promotional poster, 
    | banner and social media assets to promote ticket sales for the upcoming 
    | Quest Festival in Nov, 2015.
  img(src="/content/Promo-1_940px.png", alt="ba vi national park vietnam")
  img(src="/content/Promo-2_940px.png", alt="quest 2 promotional posters")
  img(src="/content/Promo-3_940px.png", alt="quest 2 tickets")
  img(src="/content/Promo-4_940px.png", alt="quest 3 facebook page")
  img(src="/content/Promo-5_940px.png", alt="quest 3 promotional poster and deer logo paper cutout")
  img(src="/content/Promo-6_940px.png", alt="quest 4 promotional poster and media kit detail")
  section
    p 
      | PHOTOGRAPHY | Nikolaj Svennevig ,  Amy Cleary
      <br>
      | DESIGN CREDIT | Logo designed by MacMeo 
      <br>
      | ARTIST CREDIT | Artwork produced in collaboration with Max Cooper
      <br>
      | CONNECT |
      a(href="http://questfestival.net/") questfestival.com - 
      a(href="https://www.facebook.com/questfestival") facebook.com/questfestival
