section
  h2 AN END-TO-END MARKET PLATFORM
  p 
    | Seeva is a marketplace start-up connecting NDIS consumers with a multitude
    | of service providers. I was engaged to lead this project from user 
    | research and early planning into launch in a rapid timeframe (12 weeks).
  img(src="content/Seeva-1_940px.png", alt="seeva logo on laptop")
  h2 INTERPRETING THE INFORMATION
  p 
    | My involvement began after research and preliminary prototype testing had 
    | been conducted by another agency. I took their findings and iterated the 
    | design. I identified and consolidated the user challenges and insights 
    | into a narrative communicating the complexity of different user journeys. 
    | This also formed the basis of a pitch deck to be used for securing 
    | investor funding.
  img(src="content/Seeva-2_940px.png", alt="infographics from slide presentation")
  p.caption Visual communication is key
  h2 ACCESSIBILITY & USABILITY TESTING
  p 
    | The main challenge was to ensure the user experience met the needs of 
    | consumers with a range of technology and accessibility issues, such as 
    | vision or hearing impairment and learning disabilities. It was also 
    | important to consider more proficient usability for carers and service 
    | providers. Throughout the design process, this was addressed through 
    | usability testing and workshops with participants from all segments. 
    | Visual design was also tested against WCAG3 accessibility criteria.
  img(src="content/Seeva-3_940px.png", alt="test plan and video still of testing")
  p.caption Usability testing with the right audience
  h2 MODELLING THE INTERACTIONS
  p 
    | Invision prototypes were used for usability testing and demonstrating 
    | the interactions for stakeholders and the development team. The primary 
    | interaction of the product was the search and booking flow, which surfaces 
    | information from myriad providers via different pathways. I designed the 
    | responsive UI and digital style guide based on existing brand assets.
  img(src="content/Seeva-4_940px.png", alt="seeva landing page")
  p.caption Seeva landing page
section
    p DESIGN CREDIT | Brand design by The Contenders
