section
  h2 AN APARTMENT COMPLEX CHATBOT PROJECT
  p 
    | In 2016 I participated in a collaborative research project between 4th 
    | Party, and a tier one Australian insurance company. This “insurance-bot” 
    | research uncovered learnings and insights into behaviours and attitudes 
    | of strata residents, their goals and pain points around engaging with 
    | virtual agents. The research leveraged Strata.chat, a messaging and 
    | service delivery automation platform designed for strata building 
    | communities.
  h2 UNDERSTANDING USERS
  p 
    | This project started with an extensive research plan, outlining the 
    | research goals, key dates, participant profiles and recruitment strategy, 
    | as well as the scope of the entire project, and of course, the user 
    | interview script. 
  p 
    | We conducted a discovery workshop to synthesise learnings from interviews 
    | with strata residents and managers where we gained an understanding of the 
    | broader experiences and goals of different groups.
  img(src="content/Strata-1_940px.png", alt="sense making workshop")
  p.caption Discovery workshop to process all that information!
  h2 TELLING A STORY
  p 
    | A number of artefacts were produced to guide and document the ideation 
    | process, and communicate value to investors. When the project was 
    | completed, this documentation was compiled into a visual presentation 
    | deck, for both parties to use.
  img(src="content/Strata-2_940px.png", alt="diagram of the strata environment")
  p.caption The strata environment
  img(src="content/Strata-3_940px.png", alt="customer journey map")
  p.caption Customer journey map
  p 
    | Mapping out a customer journey was useful to visualise the user’s goals 
    | and pain-points through their current experience. From this we could 
    | easily identify opportunities to reduce friction and help them achieve 
    | their goals.
  h2 A HOLISTIC EXPERIENCE
  img(src="content/Strata-4_940px.png", alt="service blueprint")
  p.caption Service blueprint
  p 
    | While we were investigating how to use an insurance-bot in an online 
    | instance, we found it necessary to look at the entire customer interaction 
    | with the move-in experience. A service blueprint was produced to get a 
    | macro view on customer engagement within strata.chat across multiple 
    | touch-points, identifying service delivery opportunities.
  h2 RAPID PROTOTYPING
  p 
    | The project took place over 16 weeks, so it was necessary to work in fast, 
    | weekly iterative cycles. Adopting a lean-UX approach, we utilised a number 
    | of tools to help us “build, test, learn”. Twinery, an online open-source 
    | storytelling tool was perfect to model early automated conversation 
    | scripts. These scripts were then inserted into the strata.chat testing 
    | instance, where they could be further tested with users and refined.
  p 
    | Using Strategyzer card templates (Value Proposition Design), we were able 
    | to synthesise high volumes of feedback quickly, and share the insights 
    | between teams. 
  p 
    | The final output was an interactive prototype instance of the product for 
    | stakeholders and partners, demonstrating the automated conversations.
  img(src="content/Strata-5_940px.png", alt="lo fi prototype")
  p.caption Build.
  img(src="content/Strata-6_940px.png", alt="test cards")
  p.caption Test. Learn.
  section  
  
