section
  h2 DESIGN THINKING METHODOLOGY
  p 
    | Design thinking helps to solve business challenges by better understanding 
    | users’ needs in order to design products that they actually want to use. 
    | By following these five steps, we can effectively understand and define 
    | the problem, discover opportunities, explore many possible solutions, and 
    | build the right product through testing and reiterating the design.
section
  .circle-steps
    .step
      h3 Empathise
      p Understand the end user through observation, interaction and immersing yourself in their experiences.
    .step
      h3 Define
      p Analyse the insights from the empathy work to address the user’s needs in your design.
    .step
      h3 Ideate
      p Explore many possible solutions by thinking big and working with others.
    .step
      h3 Prototype
      p Transform an idea  into interactive mockups to experience it, learn from it, and develop more empathy for the user.
    .step
      h3 Test
      p Evaluate the product by observing how users interact with the prototype. Learn, reiterate, repeat.
section
  h2 RESEARCH & STRATEGY
  p 
    | A project starts by understanding the business needs through stakeholder 
    | interviews. I then define the research goals and plan user interviews, 
    | before heading out into the world with active listening skills to gather 
    | qualitative data. These key insights are used along with metric data and 
    | competitor analysis to make informed decisions about potential solutions. 
  img(src="/content/interview-notes.png", alt="Interview notes")
section
  h2 DOCUMENTATION
  p 
    | Communicating the pain-points and goals of the users with stakeholders and 
    | the team is essential. Delivering precise and accurate documentation 
    | visualises the journey, research outcomes, information architecture and 
    | process flows, which allows complex problems to be understood and 
    | solutions to materialise. 
  img(src="/content/Documentation_940px.png", alt="Persona and user flow sketch")
  p Persona, User Flow sketch
  img(src="/content/Research-report_940px.png", alt="Research Report")
  p User Research Report
  img(src="/content/User-flow-diagram_940px.png", alt="user flow diagram")
  p User Flow Diagram 
section 
  h2 SKETCHING & WIREFRAMES
  p 
    | Designing starts with pen and paper. I usually fill pages of my sketchbook 
    | with notes and wireframe sketches, working through the problems until I’ve 
    | arrived at the best solution. Even better is when this can be done with 
    | teams through co-creation workshops.
  img(src="/content/Wireframe-sketches_940px.png", alt="Wireframe sketches")
  p Wireframe sketches 
section
  h2 PROTOTYPING & USABILITY TESTING
  p 
    | Beginning a cycle of design iterations, the “solution” is transformed into 
    | prototypes - ideally starting with a simple paper version, and increasing 
    | fidelity until it becomes a working, interactive mockup using Sketch or 
    | Photoshop with software like InVision or Axure. Through usability testing 
    | I can observe how users interact with the prototype, note what works and 
    | what doesn’t, and reiterate the design as necessary, always bearing in 
    | mind the initial problem statement.
  img(src="/content/Invision-prototype_940px.png", alt="Invision prototype")
  p Invision prototype
  img(src="/content/Wireframe-mockup_940px.png", alt="Prototype screen")
  p Prototype screen
section
  h2 BUILD
  p 
    | Testing with a prototype saves money and time. When the interactions are 
    | resolved and making sense, the project moves into visual design. I use 
    | Sketch or Photoshop to create beautiful user interfaces that are 
    | responsive, engaging, and satisfy user needs and business objectives.
  img(src="/content/responsive-web-devices_940px.png", alt="responsive web devices")
