if current.source == 'index'
  header.index
    .squirrel
      img(src="img/white-squirrel.png", alt="UI/UX Visual Designer")
    h2 USER EXPERIENCE DESIGNER
    .arrow &darr;
else
  header(style="background-image: url('/content/#{ current.source }.png')")
    h1= public._data.pages[current.source]
