.row
  .six.columns
    .social
      a.icon(id="linkedin", href="https://au.linkedin.com/in/amytcleary")
      a.icon(id="twitter", href="https://twitter.com/amysqurrl")
      a.icon(id="facebook", href="https://www.facebook.com/AmyClearyDesign")
      a.icon(id="behance", href="https://www.behance.net/amycleary")
  .six.columns
    p.attribution &copy; Amy Cleary 2016 &#124;
      a(href="mailto:amyclearydesign@gmail.com") Contact
