section
  h2 Case Study | Quest Festival
  p Quest Festival is a small emerging camping festival located in Ba Vi National Park, just outside Hanoi, Vietnam. Music, art and culture come together over three days, providing festival goers with bands and electronic acts, creative workshops, themed campsites and lots of outdoor activities (it’s set in an adventure camp!).
  p I became involved with the art direction of the promotional and branding campaigns for the second and third events (Nov 2014, Mystery Quest 2015). I collaborated with artist Max Cooper to develop a visual language that completely captured our impression and experience of the festival. This project was developed during my time living in Hanoi.
  p Since its first appearance in 2013, Quest Festival has grown rapidly into one of South-East Asia’s most popular arts and lifestyle festival weekends. I was tasked with producing a media kit aimed at attracting new and bigger sponsors to partnership with Quest. After the Mystery Quest festival, the founders formed a new production company, Venture North Productions, to manage Quest and branch out into other events around Hanoi and the region.
  p The media kit was designed as a continuous scrolling PDF document that views like a website. An A4 printed version was also created. Along with the launch of the media kit, I designed a teaser promotional poster, banner and social media assets to promote ticket sales for the upcoming Quest Festival in Nov, 2015.
  img(src="/content/Identity-1_940px.png", alt="window decal signage")
  p Window decal signage
  img(src="/content/Identity-2_940px.png", alt="coffee jar and takeaway cup branding")
  p Coffee jar | Takeaway cup branding
  img(src="/content/Identity-3_940px.png", alt="window decal signage and interior of cafe")
  p Window decal signage | Interior view
  section
    p PHOTOGRAPHY | Nikolaj Svennevig ,  Amy Cleary
    p CREDIT | Logo designed by MacMeo | Artwork produced in collaboration with Max Cooper
    p CONNECT |
      a(href="http://questfestival.net/") questfestival.com -
      a(href="https://www.facebook.com/questfestival") facebook.com/questfestival
